body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: row;
	width: 80vw;
	list-style: none;
}

.pannels {
	font-size: 20px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;
	flex: 0.5;
	margin: 3px;
	border-radius: 40px;
	color: rgb(253, 240, 254);
	cursor: pointer;
	position: relative;
	transition: flex 0.8s ease-in;
}

.pannels p {
	position: absolute;
	bottom: 30px;
	left: 30px;
	margin: 0;
	opacity: 0;
}

.pannels.active {
	flex: 5;
}
.pannels.active p {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 680px) {
	.container {
		width: 95vw;
	}
	.pannels:nth-of-type(5) {
		display: none;
	}
}
